<div class="flex-container cards container">
    <summary-card title="Total cases" primaryDetail={{totalCases}}
        secondaryDetail='{{newCases}} ({{percentageIncrease(totalCases,newCases)}}%)'></summary-card>
    <summary-card title="Active" primaryDetail={{totalActive}}
        secondaryDetail='{{newActive}} ({{percentageIncrease(totalActive,newActive)}}%)'></summary-card>
    <summary-card title="Recovered" primaryDetail={{totalRecoverd}}
        secondaryDetail='{{newRecovered}} ({{percentageIncrease(totalRecoverd,newRecovered)}}%)'></summary-card>
    <summary-card title="Deaths" primaryDetail={{totalDeaths}}
        secondaryDetail='{{newDeaths}} ({{percentageIncrease(totalDeaths,newDeaths)}}%)'></summary-card>
</div>