<div class="flex-container cards container worldwide">
    <summary-card title="TOTAL CASES" primaryDetail={{totalCases}}
        secondaryDetail='{{newCases}} ({{percentageIncrease(totalCases,newCases)}}%)'></summary-card>
    <summary-card title="ACTIVE CASES" primaryDetail={{totalActive}}
        secondaryDetail='{{newActive}} ({{percentageIncrease(totalActive,newActive)}}%)'></summary-card>
    <summary-card title="RECOVERED" primaryDetail={{totalRecoverd}}
        secondaryDetail='{{newRecovered}} ({{percentageIncrease(totalRecoverd,newRecovered)}}%)'></summary-card>
    <summary-card title="DEATHS" primaryDetail={{totalDeaths}}
        secondaryDetail='{{newDeaths}} ({{percentageIncrease(totalDeaths,newDeaths)}}%)'></summary-card>
</div>